@import "bootstrap/bootstrap";
@import "variables";

html, body {
    background-color: #222222;
    color: $text-color;
    font-family: $raleway-font;
    font-size: $font-size-base;
}

.header {
    background: linear-gradient(225deg,$brand-orange, $brand-primary);
    min-height: 200px;
    padding: 5%;
    margin-bottom: 3%;
    h1, h2, h3, h4, h5, h6 {
        color: $text-color !important;
        text-align: center;
        margin-bottom: 3%;
    }
}

h1 {
    font-family: $rochester-font !important;
    font-size: 75px;
    @media not all and (min-width: $screen-md-min) {
        font-size: 50px;
    }
}

h3 {
    font-family: $raleway-font !important;
    font-size: 24px;
}

.content h2, .content h3, .content h4, .content h5, .content h6 {
    color: $brand-primary;
    font-weight: 600;
    background: -webkit-linear-gradient(225deg,$brand-orange, $brand-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.content a, footer a {
    color: $text-color;
    text-decoration: none !important;
}

.content a:hover, footer a:hover {
    color: darken($brand-primary, 5%);
    text-decoration: none !important;
    background: -webkit-linear-gradient(225deg,$brand-orange, $brand-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.btn {
    display:inline-block;
    border: 1px solid $background-color;
    background-color: transparent;
    border-radius: 0.3rem;
    padding: 15px;
    margin-top: 1% !important;
    text-decoration: none !important;
    color: $text-color;
}

a.btn:hover {
    display:inline-block;
    border: 1px solid $background-color;
    background-color: $background-color;
    color: $text-color !important;
    border-radius: 0.3rem;
    padding: 15px;
    text-decoration: none !important;
}