@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Rochester:400');

$background-color: #222222;

$brand-primary: #c22222;
$brand-info: #bed5dc;
$brand-success: #3AA55D;
$brand-warning: #F9A61A;
$brand-danger: #EC4145;
$brand-orange: #E56F1F;
$brand-offline: #737F8C;

$raleway-font: "Raleway", sans-serif;
$rochester-font: "Rochester", cursive;

$font-size-base: 18px;
$line-height-base: 1.6;

$text-color: #ffffff;

$text-highlight-color: #ffffff;